.weather-container {
    margin-top: 200px;
}

.weather-input {
    width: 200px;
    height: 20px;
    background: #ffffff;
    color: #000000;
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    font-family: inherit;
}

.weather-button {
    background: #ffffff;
    color: #f2994a;
    padding: 0.75rem;
    border-radius: 5px;
    margin: 10px;
    font-size: 1.2rem;
    font-family: inherit;
}

.weather-button:hover {
    border-color:#f2994a;
}