.weather-container {
    margin-top: 200px;
}

.weather-input {
    width: 200px;
    height: 20px;
    background: #212424;
    color: #fff;
    padding: 0.75rem;
    border: 1px solid #fff;
    border-radius: 2px; 
    margin: 0.5rem 0;
    font-size: 1.2rem;
    font-family: inherit;
}

.weather-button {
    background:  #212424;
    color: #e1e1e1;
    padding: 0.69rem;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    cursor: pointer;
    margin: 8px;
    font-size: 1.2rem;
    font-family: inherit;
}

.weather-button:hover {
    color: #41c7c7;
    border: 1px solid #41c7c7;
}